@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}   

.pg-telas{
    width: 100%;
}

.pg-telas .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    gap: 20px;
}

.pg-telas .container h1{
    font-weight: bold;
    color: #222222;
    margin: 0;
}

.pg-telas .container .btn-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}

.pg-telas .container .btn-list a{
    background-color: #92B66C;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    color: #FFFFFF;
}


.hidden-scroll::-webkit-scrollbar{
    display: none;
}
.gap-10{
    gap: 10px;
}

/* Nav bar */
.header-reventart{
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 1px 5px #0000004f;
    background-color: #f8f9fa;
}
.nav-revetart .logo{
    width: 160px;
}

.nav-revetart .collapse{
    width: 80%;
}
.nav-revetart .navbar-brand{
    width: 20%;
}

.nav-revetart .navbar-nav{
    width: 70%;
    justify-content: center;
}
.nav-revetart .navbar-toggler{
    border: none;
}
.nav-revetart .action-nav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end
}
.nav-revetart .action-nav .btn{
    margin-left: 10px;
    background-color: #92B66C !important;
    border: none !important;
}
.nav-revetart .action-nav .btn:hover{
    background-color: #6e8d4d !important;
}
/* Footer */
.footer-revetart {
    background-color: #65A86A !important; 
    color: white;
    padding: 40px 0;
    margin-top: 100px;
}

.footer-revetart h3{
    margin-bottom: 20px;
    font-size: 1rem;
}
.footer-revetart .row .col-md-3:first-child h3{
    font-size: 1.7rem;
}
.footer-revetart ul{
    list-style-type: none;
}
.footer-revetart ul li a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.footer-revetart p {
    font-size: 0.8rem;
}

.footer-revetart .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}


/* Hover Produtos */

.card-img{
    overflow: hidden;
    height: 250px;
}
.card-img img{
    height: 100%;
    object-fit: cover;
}
.card-img:hover img{
    filter: blur(3px) brightness(0.5);
    scale: 1.05;
    transition: 0.5s;
}
.card-img:not(:hover) img{
    transition: 0.5s;
}
.hover-text{
    padding: 0 20px;
    position: absolute;
    bottom: -50px;
    opacity: 0;
}
.hover-text .hover-title{
    font-size: 1rem;
    color: #FFFFFF;
}
.hover-text .hover-artesao{
    font-size: 0.825rem;
    color: #FFFFFF;
}
.card-img:hover .hover-text{
    bottom: 20px;
    opacity: 1;
    transition: 0.5s;
}

.card-img:not(:hover) .hover-text{
    transition: 0.5s;
}

.hover-text p{
    margin: 0;
}


/* Responsivo */

@media (max-width: 992px){
    .nav-revetart .navbar-nav{
        width: 100%;
    }
    .nav-revetart .action-nav{
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }
    .nav-revetart .action-nav .btn{
        margin: 0;
        width: 100%;
    }
}