
.market-content{
    padding-top: 140px;
}

.market-content .title-page{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.market-content .header-market{
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}
.market-content .header-market .btn{
    background-color: #92B66C !important;
    border: none ;
}
.market-content .header-market .form-select{
    border-radius: 15px;
    padding: 10px 20px;
}


.market-content .title-page .divider{
    width: 4px;
    min-width: 4px;
    height: 50px;
    background-color: #4c6b41;
    border-radius: 10px;
}
.market-content .title-page  h1{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.market-content .title-page  p{
    margin: 0;
}


.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

.market-products{
    width: 100%;
}

.market-products .row-produtos{
    gap: 20px 0;
}

.market-products .filtros-position{
    position: absolute;
    z-index: 99;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 8px #00000020;
}