* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

.product-page{
    padding-top: 130px;
}

.product-page .product-details {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.product-page .product-image{
    width: 50%;
}

.product-page .product-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.product-page .product-info {
    width: 50%;
    margin-right: auto;
    padding: 0 20px;
}

.product-page .product-info .title-product {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.product-page .product-info .description-product {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.product-page .product-info .description-product a{
    color: #000000;
}

.product-page .product-info .actions {
    display: flex;
    gap: 10px;
    width: 100%;
}

.product-page  .actions a {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    text-decoration: none;
}

.product-page  .contact {
    background-color: #6F9E50;
    color: white;
}

.product-page .gallery {
    background-color: #ccc;
    color: #333;
}

.product-page  .related-products {
    margin-top: 40px;
    border-top: 1px solid #dddddd;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.product-page  .related-products .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.product-page  .related-items {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-page .related-items img {
    object-fit: cover;
    border-radius: 5px;
}

.product-page .view-box{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.product-page .view-box .view-all {
    background-color: #1A3700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px) {

    /* A NAV BAR DEVE SER DESENVOLVIDA */
    nav ul{
        display: none;
    }

    .product-page .product-details{
        gap: 20px;
    }
    .product-page .product-image{
        width: 100%;
    }
    .product-page .product-info{
        width: 100%;
        padding: 0;
    }
    .product-page .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-page .product-image img {
        width: 100%;
    }

    .product-page .related-items {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 576px){
    .product-page .product-info .actions{
        flex-direction: column;
    }
    .product-page .actions button{
        width: 100%;
    }
    .product-page footer {
        padding: 40px 20px !important;
    }
    .product-page footer .container{
        flex-direction: column;
    }
    .product-page footer .column {
        width: 100% !important;
    }
}
